<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.StarhotelsMapper">
    
    <resultMap type="Starhotels" id="StarhotelsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="starLevel"    column="star_level"    />
        <result property="minPrice"    column="min_price"    />
        <result property="totalQuantity"    column="total_quantity"    />
        <result property="address"    column="address"    />
    </resultMap>

    <sql id="selectStarhotelsVo">
        select id, name, star_level, min_price, total_quantity, address from starhotels
    </sql>

    <select id="selectStarhotelsList" parameterType="Starhotels" resultMap="StarhotelsResult">
        <include refid="selectStarhotelsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
        </where>
    </select>
    
    <select id="selectStarhotelsById" parameterType="Long" resultMap="StarhotelsResult">
        <include refid="selectStarhotelsVo"/>
        where id = #{id}
    </select>

    <insert id="insertStarhotels" parameterType="Starhotels">
        insert into starhotels
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="starLevel != null">star_level,</if>
            <if test="minPrice != null">min_price,</if>
            <if test="totalQuantity != null">total_quantity,</if>
            <if test="address != null and address != ''">address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="starLevel != null">#{starLevel},</if>
            <if test="minPrice != null">#{minPrice},</if>
            <if test="totalQuantity != null">#{totalQuantity},</if>
            <if test="address != null and address != ''">#{address},</if>
         </trim>
    </insert>

    <update id="updateStarhotels" parameterType="Starhotels">
        update starhotels
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="starLevel != null">star_level = #{starLevel},</if>
            <if test="minPrice != null">min_price = #{minPrice},</if>
            <if test="totalQuantity != null">total_quantity = #{totalQuantity},</if>
            <if test="address != null and address != ''">address = #{address},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStarhotelsById" parameterType="Long">
        delete from starhotels where id = #{id}
    </delete>

    <delete id="deleteStarhotelsByIds" parameterType="String">
        delete from starhotels where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>