<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.StarhotelreviewsMapper">
    
    <resultMap type="Starhotelreviews" id="StarhotelreviewsResult">
        <result property="id"    column="id"    />
        <result property="hotelId"    column="hotel_id"    />
        <result property="content"    column="content"    />
        <result property="guestId"    column="guest_id"    />
        <result property="rating"    column="rating"    />
    </resultMap>

    <sql id="selectStarhotelreviewsVo">
        select id, hotel_id, content, guest_id, rating from starhotelreviews
    </sql>

    <select id="selectStarhotelreviewsList" parameterType="Starhotelreviews" resultMap="StarhotelreviewsResult">
        <include refid="selectStarhotelreviewsVo"/>
        <where>  
            <if test="hotelId != null "> and hotel_id = #{hotelId}</if>
        </where>
    </select>
    
    <select id="selectStarhotelreviewsById" parameterType="Long" resultMap="StarhotelreviewsResult">
        <include refid="selectStarhotelreviewsVo"/>
        where id = #{id}
    </select>

    <insert id="insertStarhotelreviews" parameterType="Starhotelreviews">
        insert into starhotelreviews
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="hotelId != null">hotel_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="guestId != null">guest_id,</if>
            <if test="rating != null">rating,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="hotelId != null">#{hotelId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="guestId != null">#{guestId},</if>
            <if test="rating != null">#{rating},</if>
         </trim>
    </insert>

    <update id="updateStarhotelreviews" parameterType="Starhotelreviews">
        update starhotelreviews
        <trim prefix="SET" suffixOverrides=",">
            <if test="hotelId != null">hotel_id = #{hotelId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="guestId != null">guest_id = #{guestId},</if>
            <if test="rating != null">rating = #{rating},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStarhotelreviewsById" parameterType="Long">
        delete from starhotelreviews where id = #{id}
    </delete>

    <delete id="deleteStarhotelreviewsByIds" parameterType="String">
        delete from starhotelreviews where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>